Django==1.4.2
Pillow==1.7.8
django-facebook==4.2.11
django-registration==0.8
gunicorn==0.17.2
ipdb==0.7
ipython==0.13.1
mongoengine==0.7.9
pymongo==2.4.2
readline==6.2.4.1
simplejson==2.6.2
wsgiref==0.1.2
git+git://github.com/feliperyan/django-mongodbforms.git
