{% extends "base.html" %}

{% block content %}

<h2> Offers for {{ item.title }} </h2>

	{% if item.offers %}
		<div id="offers">				
			<ul>
			{% for o in item.offers %}
				<li> 
					<strong>{{ o.title }}</strong> by <a href="#">{{ o.author }}</a> - <a href="{% url specific_offer item.id o.slug %}">View</a>  </li>
					<ul>
						{% for i in o.items %}
							<li> <a target="_blank" href="{% url detail i.item.id %}" > {{ i.itemTitle }} </a> </li>
						{% endfor %}
					</ul>

				</li>
			{% endfor %}
			</ul>
		</div>
	{% endif %}


{% endblock %}

