{% extends "base.html" %}

{%block page_specific_script%}
	<script type="text/javascript" src="{{ STATIC_URL }}jquery.masonry.js"></script>
{%endblock%}

{% block content %}

	<form class="form-inline" action="/search/" method="get">
		<div class="input-prepend">
			<span class="add-on">Title</span>
			<input name="title" class="span2" id="prependedInput" type="text" placeholder="Keywords...">				
		</div>
		
		<select name="category">
			<option value="abc"> All categories </option>
			<option value="def"> Services </option>
		</select>

		<select name="geo" style="width:11em">
			<option value="0"> Anywhere </option>
			<option value="3"> Walking distance </option>
			<option value="10"> Short bus ride </option>
			<option value="200"> Road trip </option>
		</select>
		<button type="submit" class="btn">Search</button>
	</form>

<div id="container" class="clearfix masonry">

{% for i in items  %}            
	<div class="box col2" style="margin:5px; padding:5px; background:#CCCCCC">
		
		<a href="{% url "detail" i.id %}"> 
			<img src="{{MEDIA_URL}}{{i.img}}" width="280" height="280"/>
		</a>
		<div style="width: 280px;">
			<p>
				<a href="{% url "detail" i.id %}"> {{ i.title }} </a> by 
				<a href="/accounts/{{ i.owner_username }}"> {{ i.owner_username }} </a>			
			</p>
			<p>Votes {{i.countVotes}}</p>
		</div>
	</div>
{% endfor %}

</div>


<div class="pagination">
	<ul>
	{% if items.has_previous %}
		<a href="?{{queries.urlencode}}&amp;page={{ items.previous_page_number }}">Prev</a>
	{% else %}
		 &lt;&lt;
	{% endif %}
	{% for p in items.paginator.page_range %}
    	<a href="?{{queries.urlencode}}&amp;page={{p}}"{% ifequal p page %} class="selected"{% endifequal %}>{{p}}</a>
		{% empty %}
    	<a href="?{{queries.urlencode}}&amp;page=1" class="selected">1</a>
	{% endfor %}
	{% if items.has_next %}
		<a href="?{{queries.urlencode}}&amp;page={{ items.next_page_number }}"> Next </a>
	{% else %}
		&gt;&gt;
	{% endif %}
</div>

<script>
	$(document).ready(function() {

		// Initialize Masonry
		$('#container').masonry({
			//columnWidth: 140,
			itemSelector: '.box',
			//isFitWidth: true,
			//isAnimated: !Modernizr.csstransitions
		}).imagesLoaded(function() {
			$(this).masonry('reload');
		});

	});
</script>


{% endblock %}

