{% extends "base.html" %}

{%block page_specific_script%}

<script>
	
	function getCookie(name) {
	    var cookieValue = null;
	    if (document.cookie && document.cookie != '') {
	        var cookies = document.cookie.split(';');
	        for (var i = 0; i < cookies.length; i++) {
	            var cookie = jQuery.trim(cookies[i]);
	            // Does this cookie string begin with the name we want?
	            if (cookie.substring(0, name.length + 1) == (name + '=')) {
	                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
	                break;
	            }
	        }
	    }
    	return cookieValue;
	}
	var csrftoken = getCookie('csrftoken');

	function csrfSafeMethod(method) {
    	// these HTTP methods do not require CSRF protection
    	return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
	}

	$.ajaxSetup({
    	crossDomain: false, // obviates need for sameOrigin test
    	beforeSend: function(xhr, settings) {
        	if (!csrfSafeMethod(settings.type)) {
            	xhr.setRequestHeader("X-CSRFToken", csrftoken);
        	}
    	}
	});

	function updateVotes(data){
		if (data.answer == 'ok') {
			$("#votes_count").text('');
			$("#votes_count").text('Votes: ' + data.total);
			$("#vote_message").text('Thanks for voting!');
		}
		else {
			$("#vote_message").text('You already voted!');
		}
		$("#vote_message").css('visibility','visible');	
	}

	$(document).ready(function() {
		
		$("#votedown").on({ click:function() {
			console.log("/vote/{{item.id}}/down");
			var voted = $.post(
				"/vote/{{item.id}}/down",new Date(),
				function(data){
					console.log(data);
					updateVotes(data);
				},
				"json");
			}
		});
		$("#voteup").on({ click:function() {
			console.log("/vote/{{item.id}}/up");
			var voted = $.post(
				"/vote/{{item.id}}/up",new Date(),
				function(data){
					console.log(data); 
					updateVotes(data);
				},
				"json");
			}
		});

	});

</script>

{% endblock %}

{% block content %}
	{% if user.is_authenticated %}
		<p id="votes_count"> Votes: 
			{% if item.votes %} 
				{{ item.countVotes }}
			{% else %} 
				0 
			{% endif %}
		</p>
		<p> 
			<a id="voteup" href="#"> <span style="color:green">Vote UP</span> </a> 
			<a id="votedown" href="#"><span style="color:#FF3333">Vote Down</span> </a>
			<div id="vote_message" class="label label-info" style="visibility:hidden">&nbsp;</div>
		</p>
	{%endif%}
	<h2> 
		{% if item.available == 'available' %}
			<a href="{% url "make_offer" item.id %}" > Make offer </a>  
		{% else %}
			Item unavailable!
		{% endif %}
	</h2>

	{% if item.img %}
		<img src="{{MEDIA_URL}}{{item.img}}" width="300" height="300" />
	{% endif %}

	<h3>Title: {{ item.title }} </h3>
	<h3> Owner: {{ owner.username }} </h3>
	<h3>Value: ${{ item.value }} </h3>
	<h3> Description: </h3>
	<p> {{ item.description }} </p>

	{% if item.location %}
		<h3>Location: ${{ item.location }} </h3>
	{% endif %}

	{% for o in item.offers %}
		<div id="offers">            
			<p> Offer: {{ o.title }} </p>
			<p> Author: {{ o.author }} </p>			
		</div>
	{% endfor %}		

{% endblock %}

