{% extends "base.html" %}

{%block page_specific_script%}

<script>
	
	function getCookie(name) {
	    var cookieValue = null;
	    if (document.cookie && document.cookie != '') {
	        var cookies = document.cookie.split(';');
	        for (var i = 0; i < cookies.length; i++) {
	            var cookie = jQuery.trim(cookies[i]);
	            // Does this cookie string begin with the name we want?
	            if (cookie.substring(0, name.length + 1) == (name + '=')) {
	                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
	                break;
	            }
	        }
	    }
    	return cookieValue;
	}
	var csrftoken = getCookie('csrftoken');

	function csrfSafeMethod(method) {
    	// these HTTP methods do not require CSRF protection
    	return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
	}

	$.ajaxSetup({
    	crossDomain: false, // obviates need for sameOrigin test
    	beforeSend: function(xhr, settings) {
        	if (!csrfSafeMethod(settings.type)) {
            	xhr.setRequestHeader("X-CSRFToken", csrftoken);
        	}
    	}
	});

	function updateVotes(data){
		if (data.answer == 'ok') {
			$("#votes_count").text('');
			$("#votes_count").text(data.total);
			$("#vote_message").text('Thanks for voting!');
		}
		else {
			$("#vote_message").text('You already voted!');
		}
		$("#vote_message").css('visibility','visible');	
	}

	$(document).ready(function() {
		
		$("#votedown").on({ click:function() {
			console.log("/vote/{{item.id}}/down");
			var voted = $.post(
				"/vote/{{item.id}}/down",new Date(),
				function(data){
					console.log(data);
					updateVotes(data);
				},
				"json");
				return false;
			}
		});
		$("#voteup").on({ click:function() {
			console.log("/vote/{{item.id}}/up");
			var voted = $.post(
				"/vote/{{item.id}}/up",new Date(),
				function(data){
					console.log(data); 
					updateVotes(data);
				},
				"json");
				return false;
			}
		});

	});

</script>

{% endblock %}

{% block content %}

<div class="row">
	
	<div class="span4">
		{% if item.img %}
			<div 
			style="margin:5px; padding:5px; background:#FFFFFF; box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5)">
				<img src="{{MEDIA_URL}}{{item.img}}" width="300" height="300" />
			</div>
		{% endif %}
		
		<p style="padding:5px;"> 					
			{% if user.is_authenticated %} 
				<a id="voteup" class='btn btn-success'  href="#"><i class="icon-thumbs-up"></i></a>
				{% if item.votes %} 
					<span id="votes_count" class="badge badge-info"  >{{ item.v_count }}</span>
				{% else %} 
					<span id="votes_count" class="badge badge-info">0</span>
				{% endif %} 
				<a id="votedown" class='btn btn-danger' href="#"><i class="icon-thumbs-down"></i></a>
				
			{%endif%}
			{% if item.available == 'available' %}
				<a style="color: white;" href="{% url "make_offer" item.id %}" >
					<button id="search_but" type="submit" class="btn btn-medium btn-primary">
					 Make offer
					</button>
				</a>
			{% else %}
				Item unavailable!
			{% endif %}
			<div id="vote_message" class="label label-info" style="visibility:hidden">&nbsp;</div>
		</p>		
	</div>

	<div class="span4">
		<div 
			style="margin:5px; padding:0.5em 0.5em 0.5em 1em; background:#FFFFFF; box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5)">
			
			<h3>{{ item.title }}</h3>
			{% for i in item.get_name_vals %}
				<p> <strong>{{ i.0 }}</strong> {{ i.1 }} </p>
			{% endfor %}
		</div>
		
		<div 
			style="margin:5px; padding:0.5em 0.5em 0.5em 1em; background:#FFFFFF; box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5)">
			<h3>Offers</h3>
			{% for o in item.offers %}
				<div id="offers">            
					<p> Offer: <a href="{% url 'specific_offer' item.id o.slug %}">{{ o.title }}</a> </p>
					<p> by <a href="/accounts/{{o.author}}">{{ o.author }}</a> </p>			
				</div>
			{% endfor %}
		</div>
	</div>
	
		
</div>


{% endblock %}

