{% extends "base.html" %}

{%block page_specific_script%}
<script>
	
	function showpos(position){
		pos = position;
		lat=position.coords.latitude;
		lon=position.coords.longitude;
		console.log('Your position: '+lat+','+lon);
		$("#id_geo_location").val(lon + ',' + lat);
		text = $("#okparagraph").html();
		$("#okparagraph").html(text + ' ' + '<span class="icon-ok" ></span>');
	}

	function errorpos(err){
		text = $("#okparagraph").html();
		if (err.code == 1) {
    		$("#okparagraph").html(text + ' ' + 'You said no!');
  		}
		if (err.code == 2) {
    		$("#okparagraph").html(text + ' ' + 'Couldn\'t get your position');
  		}
		if (err.code == 3) {
    		$("#okparagraph").html(text + ' ' + 'Ok that tooked too long.');
  		}
		
		console.log(err); 
	}

	$(document).ready(function() {
 		
 		$("#geoButton").on({ click:function() {
 			navigator.geolocation.getCurrentPosition(showpos, errorpos, {timeout:5000});
		}});


	});
</script>
{% endblock %}

{% block content %}

<form class="form-horizontal" action="/add_item/{{ category }}" enctype="multipart/form-data" method="post">
	{% csrf_token %}
	<fieldset>
	
	<legend>Listing</legend>
	
	{% for field in form  %}
		{% if not field.is_hidden %} 
			
			<div class="control-group">
				{{ field.errors }}
    			<label class="control-label" for="{{field.auto_id}}" > {{ field.label }} </label>	
    			<div class="controls"> {{ field }} </div> 
    		</div>
    		
		{% else %}
			{{ field }}
		{% endif %}

	{% endfor %}
	
	<div class="control-group">
  		<div class="controls" id="okparagraph"> 
			<input id="geoButton" type="button" value="Add Location" class="btn btn-small btn-info"/>
		</div>
	</div>
		

	<div class="control-group">
  		<div class="controls">
  			<input type="submit" value="Submit" class="btn btn-large btn-primary" style="margin-top: 10pt;" /> </p>
  		</div>
  	</div>
	</fieldset>
</form>


{% endblock %}

