{% extends "base.html" %}

{% block content %}
{% if error %}
	<h3>Must select at least 1 item to offer.</h3>
{% endif %}

{% if wantedItem.owner_id != user.id %}

	<div id="offer_container">

		<div id="item_wanted">
			<h3>Make your offer for:</h3>
			<p> Title: {{ wantedItem.title }} </p>
			<p> {{ wantedItem.description }} </p>
			<p> {{ wantedItem.value }} </p>
		</div>

		{% if myItems %}
			<form action="." method="post"> {% csrf_token %}

				<div id="items_offered">	
					<h3> Your items available for offer </h3>
					{% for i in myItems  %}            
						<div>
							<p> <input type="checkbox" name="items_selected" value="{{ i.id }}" /> {{ i.title }} </p>
						</div>
					{% endfor %}
					<input type="submit" value="MAKE OFFER">
				</div>
			</form>

		{% else %}
			<p> You have no items to offer!</p>
		{% endif %}

{% else %}
	<h3>You can't swap for one of your own items.</h3>
{% endif %}
	
</div>
{% endblock %}

