{% extends "base.html" %}

{% block content %}

<h2> Your listed items: </h2>

{% if myItems %}

	{% for i in myItems  %}            
		<div id="item_listing">
			<h3> <a href="{% url detail i.id %}" > {{ i.title }} </a>  </h3>		
			
			{% if i.offers %}
				<div id="offers">
				<p>Last 3 Offers:</p>				
					<ul>
					{% for o in i.offers|slice:":3" %}
						<li> {{ o.title }} by <a href="#">{{ o.author }} </a> - <a href="#">View</a> </li>
					{% endfor %}
					</ul>
				<p>See All offers</p>
				</div>
			{% endif %}

		</div>

	{% endfor %}

{% else %}
	<p> You have no items</p>

{% endif %}

<h2> Offers you have made: </h2>

{% if myOffers %}

	{% for i in myOffers  %}
	
		<h3>Offer for item: <a href="{% url detail i.id %}" > {{ i.title }} </a></h3>            
		<div id="offers_listing">								
			{% for o in i.offers %}
				{% if  o.author_id == user.id %}
					<div id="offers">            
						<p> Offer: {{ o.title }} </p>
						<p>Your items offered:</p>
						<ul>
							{% for its in o.items %}							
								<li><a href="{% url detail its.item.id %}"> {{its.itemTitle}} </a> </li>
							{% endfor %}
						</ul>	
					</div>
				{% endif %}
			{% endfor %}		
		</div>

	{% endfor %}

{% else %}
	<p> You have no items</p>

{% endif %}

{% endblock %}

