{% extends "base.html" %}

{% block content %}

<div>
	<img src="{{ user.get_profile.image.url }}" width=200 height=200 />

</div>


<h2> Your Items !</h2>

{% if myItems %}

	{% for i in myItems  %}            
		<div id="item_listing">
			<h3> <a href="{% url detail i.id %}" > {{ i.title }} </a>  </h3>		
			
			{% for o in i.offers %}
				<div id="offers">            
					<p> Offer: {{ o.title }} </p>
					<p> Author: {{ o.author }} </p>			
				</div>
			{% endfor %}		
		</div>

	{% endfor %}

{% else %}
	<p> You have no items</p>

{% endif %}

<h2> Your offers made :</h2>

{% if myOffers %}

	{% for i in myOffers  %}
	
		<h3>Offer for item: <a href="{% url detail i.id %}" > {{ i.title }} </a></h3>            
		<div id="offers_listing">								
			{% for o in i.offers %}
				{% if  o.author_id == user.id %}
					<div id="offers">            
						<p> Offer: {{ o.title }} </p>
						<p>Your items offered:</p>
						<ul>
							{% for its in o.items %}							
								<li><a href="{% url detail its.item.id %}"> {{its.itemTitle}} </a> </li>
							{% endfor %}
						</ul>	
					</div>
				{% endif %}
			{% endfor %}		
		</div>

	{% endfor %}

{% else %}
	<p> You have no items</p>

{% endif %}

{% endblock %}

