{% extends "base.html" %}

{% block content %}

<h2> Your listed items: </h2>

{% if myItems %}

	{% for i in myItems  %}            
		<div id="item_listing">
			<h3> <a href="{% url detail i.id %}" > {{ i.title }} </a>  </h3>		
			
			{% if i.offers %}
				<div id="offers">
				<p>Last 3 Offers:</p>				
					<ul>
					{% for o in i.offers|slice:":3" %}
						<li>
						{% if o.status == 'accepted' %}
							<i class="icon-ok"></i>&nbsp;<span class="label label-info">{{o.status}}</span> - 
						{% elif o.status == 'rejected' %}  
							<i class="icon-remove"></i>&nbsp;<span class="label label-info">{{o.status}}</span> - 
						{% else %}  
							<span class="label label-info">Pending</span> -
						{% endif %}
								
								<strong>{{ o.title }}</strong> by <a href="#">{{ o.author }} </a> - <a href="{% url specific_offer i.id o.slug %}">View</a> </li>
					{% endfor %}
					</ul>
				<p><a href="{% url offers_for_item i.id %}">See All offers</a></p>
				</div>
			{% endif %}

		</div>

	{% endfor %}

{% else %}
	<p> You have no items</p>

{% endif %}

<h2> Offers you have made: </h2>

{% if myOffers %}

	{% for i in myOffers  %}
	
		<h3>Offer for item: <a href="{% url detail i.id %}" > {{ i.title }} </a></h3>            
		<div id="offers_listing">								
			{% for o in i.offers %}
				{% if  o.author_id == user.id %}
					<div id="offers">            
						<p> Title: <strong>{{ o.title }}</strong></p>
						<p>Status:  
							{% if o.status == 'pending' %} Pending 
							{% elif o.status == 'rejected' %}<i class="icon-remove"></i> Rejected 
							{% else %} <i class="icon-ok"></i> Accepted!
							{% endif %}
						</p>
						<p>Your items offered:</p>
						<ul>
							{% for its in o.items %}							
								<li><a href="{% url detail its.item.id %}"> {{its.itemTitle}} </a> </li>
							{% endfor %}
						</ul>	
					</div>
				{% endif %}
			{% endfor %}		
		</div>

	{% endfor %}

{% else %}
	<p> You have no items</p>

{% endif %}

{% endblock %}

