{% extends "base.html" %}

{% block content %}
<h3>(embedded!)</h3>
{% if error %}
	<h3>Must select at least 1 item to offer. Using form.</h3>
{% endif %}

{% if wantedItem.owner_id != user.id %}

	<div id="offer_container">

		<div id="item_wanted">
			<h3>Make your offer for: {{ wantedItem.title }} </h3>
			
		</div>

		<form action="." method="post"> {% csrf_token %}

			
			{{form}}
			
			<input type="submit" value="MAKE OFFER">
			
		</form>
	</div>
{% else %}
	<h3>You can't swap for one of your own items.</h3>
{% endif %}
	

{% endblock %}

