div#wrapper {
width: 80%;
background-color:#FFFFFF;
margin-top: 50px;
margin-bottom: 50px;
margin-left: auto;
margin-right: auto;
padding: 10px;
border: thin solid #000000;
}

div#header {
padding: 15px;
margin: 0px;
}

h2{
	text-align: center;
}

#item_listing {
	border: thin solid #000000;
	margin-top: 8pt;
	padding: 8pt;
}

#offers {
	margin-left: 18pt;
}